#!/usr/bin/make -f

build:

%:
	dh $@

override_dh_auto_clean:
	rm -rf build
	dh_auto_clean

override_dh_auto_build:
	mkdir build
	./generate_completions.py -o build

override_dh_fixperms:
	dh_fixperms
	chmod 0440 debian/sonic-utilities-data/etc/sudoers.d/sonic-redis-display
